Django>=4.2,<5.0
psycopg2-binary>=2.9
djangorestframework>=3.14
django-environ>=0.11
gunicorn>=21.2
django-cors-headers>=4.3
whitenoise>=6.6
django-ckeditor>=6.7
django-ckeditor-5>=0.2.14
Pillow>=10.0
django-storages>=1.13
boto3>=1.34
